{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ first_name }}的个人主页</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/personal_hp.css' %}">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url("{% static 'images/background1.jpg' %}");
            background-color: rgba(255, 255, 255, 0.7); /*背景颜色的透明度，取值范围为0到1*/
            background-blend-mode: overlay; /*混合模式，使背景颜色与背景图片混合*/
            background-size: cover;
            background-repeat: no-repeat;
        }
    </style>

</head>

<body onload="checkURL()" onfocus="enable_submit_button()">
<script src="{% static 'js/personal_hp.js' %}"></script>
<div class="banner">
    <div class="left-text">欢迎来到校园食评</div>
    <div class="right-text" id="feedback">
        <a href="#" onclick="feedback()">反馈</a>
    </div>
    <div class="overlay" id="overlay"></div>
    <div class="popup" id="popup">
        <form method="post" action="/my_homepage/submit_feedback/">
            {% csrf_token %}
            <label id="label_option">反馈：</label>
            <textarea name="feedback" class="input_feedback" id="feed_back"
                      placeholder="请在此输入您的意见或建议并提交。"></textarea>
            <button type="button" class="button2" onclick="back_to_this_URL()">关闭</button>
            <button type="submit" class="button2" id="feedback_submit_button" onclick="check_feedback()">提交</button>
        </form>
    </div>
    <div class="right-text">
        <a href="/logout">退出</a></div>
    <div class="right-text">
        <a href="/">主页</a></div>
</div>
<br>
<br>
<br>
<div class="left-bar">
    <div style="width: 200px; margin-top: 150px;position: relative">


        <div class="profile-pic">


            <img src="{{ user_info.get_image_url }}" alt="Profile Image" id="profile-image-view"
                 onclick="user_profile()"
                 style="cursor: pointer">
            <div class="overlay" id="overlay1"></div>


            <div class="popup" id="popup1">
                <form method="post" action="/my_homepage/update_user_image/" enctype="multipart/form-data">
                    {% csrf_token %}

                    <input type="file" name="user_image" id="user_image"
                           accept="image/jpeg, image/jpg, image/bmp, image/png" class="image_input">
                    <button type="button" class="button2" onclick="back_to_this_URL_image()">关闭</button>
                    <button type="submit" class="button2" id="feedback_submit_button1">上传</button>

                </form>
            </div>


        </div>


        <p id="name_change" style="text-align: center;position: relative"></p>
        <p id="school_change" style="text-align: center;position: relative"></p></div>
    <button class="button1" onclick="showSection(1)">我的信息</button>
    <button class="button1" onclick="showSection(2)">我的收藏</button>
    <button class="button1" onclick="showSection(3)">我的帖子</button>
    <button class="button1" onclick="showSection(4)">我的评论</button>
</div>
<div>
    <div id="Section1" style="display: block">
        <!--修改我的信息模块内容-->
        <h3 class="my_info_header">个人信息资料</h3>
        <div style="position: relative;text-align: center;top: 150px;color: black">
            <div class="info-container">
            <div class="hover-area">
                <span id="option1">昵称</span>
                <br>
                <span id="content1">{{ first_name }}</span>
                <button class="edit-button" onclick="showInput(this, 1)" id="b1"><img
                        src="{% static 'images/edit.jpg' %}"
                        class="edit_image"
                        alt="edit.jpg">&nbsp;编辑
                </button>
                <div id="input1" class="input">
                    <form action="/my_homepage/update_nickname/" method="POST" id="form1">
                        {% csrf_token %}
                        <label><input id="inputField1" name="nickname" type="text" onblur="check_update(1)"></label>
                    </form>
                </div>

            </div>
            <div class="hover-area" >
                <span id="option2">用户名</span>
                <br>
                <span id="content2">{{ username }}</span>
                <button class="edit-button" onclick="showInput(this, 2)" id="b2"><img
                        src="{% static 'images/edit.jpg' %}"
                        class="edit_image"
                        alt="edit.jpg">&nbsp;编辑
                </button>
                <div id="input2" class="input">
                    <form action="/my_homepage/update_username/" method="POST" id="form2">
                        {% csrf_token %}
                        <label><input id="inputField2" name="username_change" type="text"
                                      onblur="check_update(2)"></label>
                    </form>
                    {% if error %}
                    <p id="error_info">{{ error }}</p>
                    {% endif %}
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="hover-area">
                <span id="option3">所属学校</span>
                <br>
                <span id="content3">{{ school }}</span>
                <button class="edit-button" onclick="showInput(this, 3)" id="b3"><img
                        src="{% static 'images/edit.jpg' %}"
                        class="edit_image"
                        alt="edit.jpg">&nbsp;编辑
                </button>
                <div id="input3" class="input">
                    <form action="/my_homepage/update_school/" method="POST" id="form3">
                        {% csrf_token %}
                        <label><input id="inputField3" name="school_change" type="text"
                                      onblur="check_update(3)"></label>
                    </form>
                </div>
            </div>
            <div class="hover-area">
                <span id="option4">联系方式</span>
                <br>
                <span id="content4">{{ contact }}</span>
                <button class="edit-button" onclick="showInput(this, 4)" id="b4"><img
                        src="{% static 'images/edit.jpg' %}"
                        class="edit_image"
                        alt="edit.jpg">&nbsp;编辑
                </button>
                <div id="input4" class="input">
                    <form action="/my_homepage/update_contact/" method="POST" id="form4">
                        {% csrf_token %}
                        <label><input id="inputField4" name="contact_change" type="text"
                                      onblur="check_update(4)"></label>
                    </form>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="hover-area">
                <span style="position: relative;">邮箱</span>
                <br>
                <span style="position: relative;">{{email}}</span>
            </div>
            <div class="hover-area">
                <span style="position: relative;">注册日期</span>
                <br>
                <span style="position: relative;">{{ register_date }}</span>
            </div>
        </div>
            <!--继续添加个人信息-->
        </div>
    </div>
    <div id="Section2" style="display: none;margin-top: 110px">
        <!--修改我的收藏模块内容-->
        <ul class="list-view">
            {% for user_fav_post in user_fav_posts.all %}
            <li>
                <a href="{% url 'restaurant_detail' user_fav_post.id %}" class="view-button">
                    <div class="list-item">
                        {% if user_fav_post.has_image %}
                        <img src="{{ user_fav_post.get_image_url }}" alt="收藏的店家图片">
                        {% endif %}
                        <div class="item-details">
                            <h3>{{ user_fav_post.title }}</h3>
                            <p>{{ user_fav_post.dining_methods }}</p>
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="Section3" style="display: none;margin-top: 110px">
        <!--修改我的帖子模块内容-->
        <ul class="list-view">
            {% for post in posts.all %}
            <li>
                <a href="{% url 'restaurant_detail' post.id %}" class="view-button">
                    <div class="list-item">
                        {% if post.has_image %}
                        <img src="{{ post.get_image_url }}" alt="帖子图片">
                        {% endif %}
                        <div class="item-details">
                            <h2>{{ post.title }}</h2>
                            <p>{{ post.dining_methods }}</p>
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="Section4" style="display: none;margin-top: 110px;right: 80px">
        <!--修改我的评论模块内容-->
        <ul class="list-view">
            {% for comment in comments.all %}
            <li>
                <a href="{% url 'restaurant_detail' comment.post.id %}" class="view-button">
                    <div class="list-item">
                        {% if comment.has_image %}
                        <img src="{{ comment.get_image_url }}" alt="评论图片">
                        {% endif %}
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <div class="item-details">
                            <h2>{{ comment.post.title }}</h2>
                            <p>{{ comment.content }}</p>
                        </div>
                    </div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
</body>

</html>