<!DOCTYPE html>
{% load static %}
<html lang="zh-CN" style="height: 100%">

  <head>
    <meta charset="utf-8">
    <title>校园食评</title>
    <link rel="stylesheet" href="{% static 'css/register_styles.css' %}">
  </head>

  <body>
    <div class="banner">
      <div class="left-text">欢迎来到校园食评</div>
      <!-- <div class="right-text">
        <a href ="" style="text-decoration: none; color: white">
        注册
        </a>
      </div>
      <div class="right-text">|</div>
      <div class="right-text">
        <a href ="" style="text-decoration: none; color: white">
        登录
        </a>
      </div> -->
    </div>
  </br>
</br>
</br>
</br>
</br>
</br>
</br>
    <div class="card-container">
      <!-- <div class="card1">
        <div id="map" style="height: 100%"></div>
      </div>
      <div class="card2">
        <div id="container" style="height: 100%"></div>
      </div> -->
      <!-- <div class="card1">
        <form action="query" method="get">
            <div class="inputs">
                <span>用户:<input type="text" name="username"></span>
            </div>
            <br>
            <div class="inputs">
                <span>密码:<input type="password" name="password"></span>
            </div>
            <br>
            <div class="inputs">
            <span>
                <input type="submit" name="submit1" value="登录">
            </span>
        </form>
        </div>
        <div class="inputs">
        <form action='../register/'>
            <input type="submit" name="to_register" value="还没有账号？去注册">
        </form>
        </div>
    </div> -->
  </div>
    <div class="container">
      <form action='/register/save' method="get" class="login_form">
        <h2>注册</h2>
        <span>用户:
          <input type="text" name="username"></span>
        <br>
        <span>昵称:
          <input type="text" name="nickname"></span>
        <br>
        <span>密码:
          <input type="password" name="password"></span>
        <br>
            <div style="padding-right: 30px">
        <span>重复密码:
          <input type="password" name="re_password"></span>
            </div>
                <br>
        <span>邮箱:
          <input type="email" name="email" id="email"></span>
        <br>
      <div class="form-row">
      <span>验证码:
          <input name="check_num" id="checknum"></span>
          <input  class="button0" type="button" id="sendEmail" value="获取验证码">
      </div>
        <br>
          {% if error %}
          <p id="error_info">{{ error }}</p>
          {% endif %}
        <br>
        <span>
          <input class="button0" type="submit" name="submit1" value="注册" ></span>
      </form>
{#    <form action="send_email" method="get">#}
{#          <input type="hidden" name="check_num">#}
{#          <input type="submit" name="submit2" value="获取验证码">#}
{#      </form>#}
      </div>
        <div class="container">
{#        <form>#}
{#            <input type="hidden" name="email">#}
{#            <button id = 'send_email'>发送验证码</button>#}
{#        </form>#}
        <form action='/login' class="form2">
          <input class="button0" type="submit" name="to_login" value="已有账号，去登陆">
        </form>
      </div>


    </br>
  </br>
  </br>
    <div class="card-container">
    <div class="guidelines-card">
      使用指南：
      <ul>
          <li>点击红点或排行榜进入论坛</li>
          <li>点击头像位置上传头像</li>
          <li>保护隐私，文明发言</li>
      </ul>
  </div>
  </div>

    <span id="errorMess" style="position: absolute;left: 50%;top: 50%;transform: translate(-50%, -50%);"></span>

    <footer>
      <p>&copy; 2023 校园食评</p>
    </footer>
{#    <script src="js/echarts.min.js"></script>#}
{#    <script src="js/baidu.js"></script>#}
{#    <script src="js/bmap.min.js"></script>#}
{#    <script type="text/javascript" src="js/self-map.js"></script>#}
{#    <script type="text/javascript" src="js/self-chart.js"></script>#}
     <script src="{% static 'js/jquery.min.js' %}"></script>
     <script src="{% static 'js/register.js' %}"></script>


  </body>

</html>